@media screen and (min-width: 1240px) {
  .firstSlide {
    width: 100%;
    height: 10%;
  }

  .mernImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .mernImages > img {
    width: 6%;
    height: 10%;
  }

  .mernImages > img:hover {
    border: 2px solid rgb(100, 255, 218);
    padding: 5px;
  }

  .animated-hr {
    background-color: rgb(88, 224, 191);
    height: 1px;
    border: none;
    margin: 3em 0;
    animation: expand 5s linear infinite alternate;
  }

  @keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-image {
    position: relative;
    width: 90%;
    margin: 1em;
    border-radius: 5px;
    overflow: hidden;
  }

  .grid-image > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .grid-one {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .grid-one > div {
    text-align: center;
  }

  .grid-image:hover .grid-one {
    opacity: 100%;
    border: 5px solid rgb(88, 224, 191);
  }

  .grid-one-content {
    padding: 20px;
    color: white;
  }
}

@media screen and (min-width: 992px) and (max-width: 1239.99px) {
  .firstSlide {
    width: 100%;
    height: 10%;
  }

  .mernImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .mernImages > img {
    width: 6%;
    height: 10%;
  }

  .mernImages > img:hover {
    border: 2px solid rgb(100, 255, 218);
    padding: 5px;
  }

  .animated-hr {
    background-color: rgb(88, 224, 191);
    height: 1px;
    border: none;
    margin: 3em 0;
    animation: expand 5s linear infinite alternate;
  }

  @keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-image {
    position: relative;
    width: 90%;
    margin: 1em;
    border-radius: 5px;
    overflow: hidden;
  }

  .grid-image > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .grid-one {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .grid-one > div {
    text-align: center;
  }

  .grid-image:hover .grid-one {
    opacity: 100%;
    border: 5px solid rgb(88, 224, 191);
  }

  .grid-one-content {
    padding: 20px;
    color: white;
  }
}

/* Media query for screens between 768px and 991px */
@media screen and (min-width: 768px) and (max-width: 991.99px) {
  .firstSlide {
    width: 100%;
    height: 10%;
  }

  .mernImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .mernImages > img {
    width: 6%;
    height: 10%;
  }

  .mernImages > img:hover {
    border: 2px solid rgb(100, 255, 218);
    padding: 5px;
  }

  .animated-hr {
    background-color: rgb(88, 224, 191);
    height: 1px;
    border: none;
    margin: 3em 0;
    animation: expand 5s linear infinite alternate;
  }

  @keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-image {
    position: relative;
    width: 90%;
    margin: 1em;
    border-radius: 5px;
    overflow: hidden;
  }

  .grid-image > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .grid-one {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .grid-one > div {
    text-align: center;
  }

  .grid-image:hover .grid-one {
    opacity: 100%;
    border: 5px solid rgb(88, 224, 191);
  }

  .grid-one-content {
    padding: 20px;
    color: white;
  }
}

/* Media query for screens less than 768px */
@media screen and (min-width: 575px) and (max-width: 767.99px) {
  .firstSlide {
    width: 100%;
    height: 10%;
  }

  .mernImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .mernImages > img {
    width: 6%;
    height: 10%;
  }

  .mernImages > img:hover {
    border: 2px solid rgb(100, 255, 218);
    padding: 5px;
  }

  .animated-hr {
    background-color: rgb(88, 224, 191);
    height: 1px;
    border: none;
    margin: 3em 0;
    animation: expand 5s linear infinite alternate;
  }

  @keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-image {
    position: relative;
    width: 90%;
    margin: 1em;
    border-radius: 5px;
    overflow: hidden;
  }

  .grid-image > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .grid-one {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .grid-one > div {
    text-align: center;
  }

  .grid-image:hover .grid-one {
    opacity: 100%;
    border: 5px solid rgb(88, 224, 191);
  }

  .grid-one-content {
    padding: 20px;
    color: white;
  }
}

@media screen and (max-width: 576.99px) {
  .firstSlide {
    width: 100%;
    height: 10%;
  }

  .mernImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .mernImages > img {
    width: 6%;
    height: 10%;
  }

  .mernImages > img:hover {
    border: 2px solid rgb(100, 255, 218);
    padding: 5px;
  }

  .animated-hr {
    background-color: rgb(88, 224, 191);
    height: 1px;
    border: none;
    margin: 3em 0;
    animation: expand 5s linear infinite alternate;
  }

  @keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-image {
    position: relative;
    width: 90%;
    margin: 1em;
    border-radius: 5px;
    overflow: hidden;
  }

  .grid-image > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .grid-one {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .grid-one > div {
    text-align: center;
  }

  .grid-image:hover .grid-one {
    opacity: 100%;
    border: 5px solid rgb(88, 224, 191);
  }

  .grid-one-content {
    padding: 20px;
    color: white;
  }
}
