.firstSlide {
    width: 100%;
    height: 10%;
}

.mernImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mernImages > img {
   width: 6%;
   height: 10%;
}

.mernImages > img:hover {
    border: 2px solid rgb(100, 255, 218);
    padding: 5px;
}