@media screen and (min-width: 1240px) {
  .mt {
    width: 100%;
    height: 83%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .skillsImages {
    width: 60%;
  }

  .skillsImages img {
    width: 10%;
  }

  .gif {
    width: 40%;
    /* background-color: aqua; */
  }

  .gif > img {
    margin-top: 10em;
    width: 100%;
  }

  .skillsImages > img {
    width: 22%;
    --color: rgb(100, 255, 218);
    --border: 10px;
    --offset: 10px;
    --gap: 5px;

    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(
      50% 50%,
      #000 calc(100% - var(--offset)),
      #0000 calc(100% - var(--border))
    );
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)),
      var(--color) calc(100% - var(--border)) 99%, #0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background: radial-gradient(var(--_r) 0 0, var(--_g)) calc(100% + var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0, var(--_g)) calc(0% - var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0 100%, var(--_g)) calc(100% + var(--_s))
        calc(0% - var(--_s)),
      radial-gradient(var(--_r) 100% 100%, var(--_g)) calc(0% - var(--_s))
        calc(0% - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  img:hover {
    --_s: 0px;
  }

  .certificationDiv {
    position: relative;
    height: 80vh;
  }

  .certificationImgSec > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .certificationImgSec > .certification1 {
    transform: translateX(100%) translateY(20%);
  }

  .certificationImgSec > .css {
    transform: translateX(50%) translateY(10%);
  }

  .certificationImgSec > .css:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .html:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification4 {
    transform: translateX(100%) translateY(20%);
  }

  .certificationImgSec > .certification3 {
    transform: translateX(50%) translateY(10%);
  }

  .certificationImgSec > .certification3:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification2:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .animate-hr {
    margin: 4em 0;
    border: 2px dotted rgb(100, 255, 218);
    animation: dottedLine 10s linear alternate infinite 0s;
  }

  @keyframes dottedLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@media screen and (min-width: 992px) and (max-width : 1239.99px) {
  .mt {
    width: 100%;
    height: 83%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .skillsImages {
    width: 60%;
  }

  .skillsImages img {
    width: 10%;
  }

  .gif {
    width: 40%;
    /* background-color: aqua; */
  }

  .gif > img {
    margin-top: 10em;
    width: 100%;
  }

  .skillsImages > img {
    width: 22%;
    --color: rgb(100, 255, 218);
    --border: 10px;
    --offset: 10px;
    --gap: 5px;

    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(
      50% 50%,
      #000 calc(100% - var(--offset)),
      #0000 calc(100% - var(--border))
    );
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)),
      var(--color) calc(100% - var(--border)) 99%, #0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background: radial-gradient(var(--_r) 0 0, var(--_g)) calc(100% + var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0, var(--_g)) calc(0% - var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0 100%, var(--_g)) calc(100% + var(--_s))
        calc(0% - var(--_s)),
      radial-gradient(var(--_r) 100% 100%, var(--_g)) calc(0% - var(--_s))
        calc(0% - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  img:hover {
    --_s: 0px;
  }

  .certificationDiv {
    position: relative;
    height: 80vh;
  }

  .certificationImgSec > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2em;
    right: 0;
  }

  .certificationImgSec > .certification1 {
    transform: translateX(40%) translateY(20%);
  }
  
  .certificationImgSec > .css {
    transform: translateX(20%) translateY(10%);
  }

  .certificationImgSec > .css:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .html:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification4 {
    transform: translateX(40%) translateY(20%);
  }

  .certificationImgSec > .certification3 {
    transform: translateX(20%) translateY(10%);
  }

  .certificationImgSec > .certification3:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification2:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .animate-hr {
    margin: 4em 0;
    border: 2px dotted rgb(100, 255, 218);
    animation: dottedLine 10s linear alternate infinite 0s;
  }

  @keyframes dottedLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width : 991.99px) {
  .mt {
    width: 100%;
    height: 83%;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
  }
  .skillsImages {
    width: 100%;
  }

  /* .skillsImages img {
    width: 10%;
  } */

  .gif {
    width: 100%;
    /* background-color: aqua; */
  }

  .gif > img {
    margin-top: 2em;
    width: 100%;
  }

  .skillsImages > img {
    width: 25%;
    --color: rgb(100, 255, 218);
    --border: 8px;
    --offset: 10px;
    --gap: 5px;

    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(
      50% 50%,
      #000 calc(100% - var(--offset)),
      #0000 calc(100% - var(--border))
    );
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)),
      var(--color) calc(100% - var(--border)) 99%, #0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background: radial-gradient(var(--_r) 0 0, var(--_g)) calc(100% + var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0, var(--_g)) calc(0% - var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0 100%, var(--_g)) calc(100% + var(--_s))
        calc(0% - var(--_s)),
      radial-gradient(var(--_r) 100% 100%, var(--_g)) calc(0% - var(--_s))
        calc(0% - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  img:hover {
    --_s: 0px;
  }

  .certificationDiv {
    position: relative;
    height: 80vh;
  }

  .certificationImgSec > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .certificationImgSec > .certification1 {
    transform: translateX(30%) translateY(20%);
  }
  
  .certificationImgSec > .css {
    transform: translateX(10%) translateY(10%);
  }

  .certificationImgSec > .css:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .html:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification4 {
    transform: translateX(25%) translateY(20%);
  }

  .certificationImgSec > .certification3 {
    transform: translateX(10%) translateY(10%);
  }

  .certificationImgSec > .certification3:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification2:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .animate-hr {
    margin: 4em 0;
    border: 2px dotted rgb(100, 255, 218);
    animation: dottedLine 10s linear alternate infinite 0s;
  }

  @keyframes dottedLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@media screen and (min-width: 575px) and (max-width : 768.99px) {
  .mt {
    width: 100%;
    height: 83%;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
  }
  .skillsImages {
    width: 100%;
  }
/* 
  .skillsImages img {
    width: 10%;
  } */

  .gif {
    width: 100%;
    /* background-color: aqua; */
  }

  .gif > img {
    margin-top: 2em;
    width: 100%;
  }

  .skillsImages > img {
    width: 25%;
    --color: rgb(100, 255, 218);
    --border: 5px;
    --offset: 10px;
    --gap: 5px;

    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(
      50% 50%,
      #000 calc(100% - var(--offset)),
      #0000 calc(100% - var(--border))
    );
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)),
      var(--color) calc(100% - var(--border)) 99%, #0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background: radial-gradient(var(--_r) 0 0, var(--_g)) calc(100% + var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0, var(--_g)) calc(0% - var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0 100%, var(--_g)) calc(100% + var(--_s))
        calc(0% - var(--_s)),
      radial-gradient(var(--_r) 100% 100%, var(--_g)) calc(0% - var(--_s))
        calc(0% - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  img:hover {
    --_s: 0px;
  }

  .certificationDiv {
    position: relative;
    height: 80vh;
  }

  .certificationImgSec > img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .certificationImgSec > .certification1 {
    transform: translateX(0%) translateY(20%);
  }
  
  .certificationImgSec > .css {
    transform: translateX(0%) translateY(10%);
  }

  .certificationImgSec > .css:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .html:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification4 {
    transform: translateX(0%) translateY(20%);
  }

  .certificationImgSec > .certification3 {
    transform: translateX(0%) translateY(10%);
  }

  .certificationImgSec > .certification3:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification2:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .animate-hr {
    margin: 4em 0;
    border: 2px dotted rgb(100, 255, 218);
    animation: dottedLine 10s linear alternate infinite 0s;
  }

  @keyframes dottedLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@media screen and (max-width : 576.99px) {
  .mt {
    width: 100%;
    height: 83%;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
  }
  .skillsImages {
    width: 100%;
  }

  /* .skillsImages > img {
    width: 100%;
  } */

  .gif {
    width: 100%;
    /* background-color: aqua; */
  }

  .gif > img {
    margin-top: 1em;
    width: 100%;
  }

  .skillsImages > img {
    width: 30%;
    --color: rgb(100, 255, 218);
    --border: 10px;
    --offset: 10px;
    --gap: 5px;

    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(
      50% 50%,
      #000 calc(100% - var(--offset)),
      #0000 calc(100% - var(--border))
    );
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)),
      var(--color) calc(100% - var(--border)) 99%, #0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background: radial-gradient(var(--_r) 0 0, var(--_g)) calc(100% + var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0, var(--_g)) calc(0% - var(--_s))
        calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0 100%, var(--_g)) calc(100% + var(--_s))
        calc(0% - var(--_s)),
      radial-gradient(var(--_r) 100% 100%, var(--_g)) calc(0% - var(--_s))
        calc(0% - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  img:hover {
    --_s: 0px;
  }

  .certificationDiv {
    position: relative;
    height: 80vh;
  }

  .certificationImgSec > img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .certificationImgSec > .certification1 {
    transform: translateX(0%) translateY(20%);
  }
  
  .certificationImgSec > .css {
    transform: translateX(0%) translateY(10%);
  }

  .certificationImgSec > .css:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .html:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification4 {
    transform: translateX(0%) translateY(20%);
  }

  .certificationImgSec > .certification3 {
    transform: translateX(0%) translateY(10%);
  }

  .certificationImgSec > .certification3:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .certificationImgSec > .certification2:hover {
    z-index: 1;
    cursor: pointer;
    border: 5px solid rgb(100, 255, 218);
  }

  .animate-hr {
    margin: 1em 0;
    border: 2px dotted rgb(100, 255, 218);
    animation: dottedLine 10s linear alternate infinite 0s;
  }

  @keyframes dottedLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
